<div class="container">
  <div class="row">
    <div class="col">
      <br><h3 class="text-secondary">投稿数データ</h3><br>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>今日の投稿数</th>
            <th>昨日の投稿数</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @today_book.count %></td>
            <td><%= @yesterday_book.count %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <br><h3 class="text-secondary">今週の本登録数データ</h3>
      <br></br><%= column_chart @books.group_by_day_of_week(:created_at, format: "%a").count, width: "100%", height: "500px" %>
    </div>
  </div>
</div>