<%= form_with model:[book, comment], local: true do |f| %>
  <%= f.text_area :comment, rows:'5',placeholder: "コメントを書く", class: "w-100" %>
  <%= f.submit "コメントする", class: "btn btn-outline-primary" %>
  <p class="d-inline pull-right"><h5 class="p-3 d-inline">Score Range(緑がポジティブ、赤がネガティブ)</h5><div class="d-inline p-2 bg-success text-light">1.0 ~ 0.25</div><div class="d-inline p-2 bg-warning">0.25 ~ -0.25</div><div class="d-inline p-2 bg-danger text-light">-0.25 ~ -1.0</div></p>
<% end %>