<div class="container-top">
  <div class="col-top">
    <p>
      <h4>rackrackへようこそ！</h4><br>

      このサイトは、架空の本棚を作成し、読みたい本を追加したり、読んだ本の感想を書いたり<br>
      など、rack rack(楽々)読書管理が出来るサイトです！<br>
      <br>
    </p>
  </div>
</div>