<div class="top-main">
  <%= image_tag "top3.jpg", class: "image" %>
  <p class="top-main_caption">
    <h4>rackrackへようこそ！</h4><br>

    このサイトは、架空の本棚を作成し、読みたい本を追加したり、読んだ本の感想を書いたり<br>
    することが出来ます。<br>
    <br>
    rack rack(楽々)読書管理が出来るサイトです！。<br>
  </p>
</div>