@import '~bootstrap/scss/bootstrap';



// .top_col {
//   position: relative;
// }

.col-top {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
  color: white;
}

// .top_image {
//   width: 100%;
//   height: 500px;
// }


.container-top {
    width: 100%;
    height: 800px;
    background-image: url(/top2.jpg);
    background-size: cover;
    opacity: 0.9;
    position: relative;
}

.container-top:before{
  content: '';
  background: inherit;
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
}

