<div class="container">
  <div class="row">
    <div class="col">
      <div class="search_form">
        <br><h2>追加したい本を検索してみよう</h2>
        <%= form_with url: books_search_path, method: :get, local: true do |f| %>
          <div class="input-group">
          <%= f.text_field :keyword, placeholder: "タイトル、著者など" %>
          <span class="input-group-btn">
          <%= f.submit "検索", class: "btn btn-primary" %>
          </span>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <%= render "index", not_read_books: @not_read_books, read_books: @read_books %>
</div>